SECRET_SSID="example"
SECRET_PASSWORD="example-pass"
SERVER_IP1="000"
SERVER_IP2="000"
SERVER_IP3="0"
SERVER_IP4="000"
SERVER_PORT="0000"
AZURE_HOST="example-address.net"
AZURE_PORT="00"
DOCKER_USERNAME="your-docker-hub-username"
DOCKER_PASSWORD="your-docker-hub-token"
DOCKER_REPOSITORY="your-docker-repository"
